
<div class="navigation">
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Ecommerce</a>



      <form class="d-flex ms-5" role="search">
        <input class="form-control " style="width: 545px;" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit" style="margin-left: -72px;">Search</button>
      </form>






      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="menfashion">Men</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  routerLink="womenfashion">Women</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link"  routerLink="electronics">Electronics</a>
         
          </li>
          <li class="nav-item ">
            <a class="nav-link"  data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight"> <i class="fa-solid fa-cart-shopping" style="cursor: pointer;"></i></a>
           
          </li>

        </ul>
       
      </div>
    </div>
  </nav>


</div>



<!-- cart start-->





<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasRightLabel">Your Cart</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    @for (item of cart; track $index) {
      <div>

       
        <span class="card-title ms-5">{{item.id}}</span>
        <span class="card-text ms-5"> {{item.products.quantity}}</span>
        <span><a (click)="deletecartitem(item.id)" class="ms-5" ><i class="fa-solid fa-trash"></i></a></span>
      </div>

        
  }
      

    




</div>
</div>
  











<section>
  <router-outlet/>

</section>
